body {
    text-align: center;
}

/* Done in order to accommodate the IN Game Score and the menu
*/
canvas {
    position: relative;
    top: -40px;
}

footer {
    position: fixed;
    bottom: 0;
    line-height: 64px;
    background: rgba(56, 92, 239, 0.85);
    width: 100%;
    left: 0;
    box-shadow: rgba(1, 1, 1, 0.06) 0 0 2px 3px, rgba(1, 1, 1, 0.12) 0 0 3px 2px;
}

.btn {
    min-width: 120px;
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
    background: #48ed96;
    text-align: center;
    margin: 4px 2px;
    outline: none;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    border: none !important;
    display: inline-block;
    text-decoration: none;
    box-shadow: none !important;
}

.score {
    line-height: 44px;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    left: -300px;
    vertical-align: middle;
    margin-left: 100px;
}

/**Ripple.css
  * Taken from Ripple.js https://github.com/jakiestfu/Ripple.js
  **/
.has-ripple {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ripple {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;

    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

    background: #fff;
    opacity: 1;
}

.ripple-animate {
    -webkit-animation: ripple;
    -o-animation: ripple;
    animation: ripple;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}